# Ignore large or unnecessary files
updated.csv
*.log
*.tmp
updated_cleaned.csv
updated_with_bbc.csv
glove.6B.100d.txt
liar_test.csv
liar_test_cleaned.csv
bbc_articles_with_predictions.csv
test.tsv


# Ignore Python bytecode
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/updated.csv
